@using BlazorDashboard.Shared
@page "/dashboard"
@inject HttpClient Http

<h1>Dashboard</h1>

<div class="col-sm-4">
    <Prices Name="Bitcoin" ApiCryptocurrencyCode="BTC" RefreshDelaySeconds="10" />
</div>
<div class="col-sm-4">
    <Prices Name="Ether" ApiCryptocurrencyCode="ETH" RefreshDelaySeconds="20" />
</div>
<div class="col-sm-4">
    <Prices Name="Stratis" ApiCryptocurrencyCode="STRAT" RefreshDelaySeconds="30" />
</div>
<div class="col-sm-6">
    <HistoricalPricesGraph ApiCryptocurrencyCode="ETH" FiatCurrencyCode="EUR" StartDate=DateTime.Today.AddDays(-7) EndDate=DateTime.Today />
</div>
<div class="col-sm-6">
    <IndicatorsGraph ApiCryptocurrencyCode="ETH" FiatCurrencyCode="EUR" StartDate=DateTime.Today.AddDays(-7) EndDate=DateTime.Today />
</div>
<div class="col-sm-6">
    <HistoricalPrices ApiCryptocurrencyCode="ETH" FiatCurrencyCode="EUR" StartDate=DateTime.Today.AddDays(-7) EndDate=DateTime.Today />
</div>
<div class="col-sm-6">
    <Indicators ApiCryptocurrencyCode="ETH" FiatCurrencyCode="EUR" StartDate=DateTime.Today.AddDays(-7) EndDate=DateTime.Today />
</div>