@page "/"

<h1>Hello!</h1>

<p>Our dashboard allows you to see some stats for various cryptocurrencies.</p>
<p>All data is downloaded using <a href="https://www.cryptocompare.com/api/">cryptocomppare api</a> under <a href="https://creativecommons.org/licenses/by-nc/3.0/">creative commons license</a> </p>
